// Created by Connor Shocrylas
// Naviagtion 
// Top Nav
.nav.fixed.contain-to-grid {
    background-color: transparent !important;
    transition: all 0.25s ease;
}

.nav.fixed.contain-to-grid.past-main {
    background-color: $primary-color !important;
    opacity: 0.9;
}

.nav.icon-bar {
    background-color: transparent !important;
    transition: all 0.25s ease;
}

.nav.icon-bar.past-main {
    background-color: $primary-color !important;
}

.icon-bar > * i {
    font-size: 1.5rem !important;
}

.icon-bar > * {
    padding: 0.5rem !important;
}

.name {
    line-height: 2.3em;
    font-family: 'Ubuntu', sans-serif;
    color: $white;
    font-size: 24px;
    font-weight: 300;
}

.icon-section {
    line-height: 0;
}

// Hero Button
button.btn.btn-5.btn-5a.icon-arrow.animated.growIn.slow.go {
    display: block;
    top: 30%;
    margin: auto;
    text-align: center;
}

.btn-5 {
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    font-family: 'Comfortaa', sans-serif;
    height: 70px;
    min-width: 160px;
    line-height: 35px;
    font-size: 25px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    &:active {
        background: #9053a9;
        top: 2px;
    }

    span {
        display: inline-block;
        width: 100%;
        height: 100%;
        -webkit-transition: all 0.3s;
        -webkit-backface-visibility: hidden;
        -moz-transition: all 0.3s;
        -moz-backface-visibility: hidden;
        transition: all 0.3s;
        backface-visibility: hidden;
    }

    &:hover {
        background: $white;
        color: $primary-color;
    }

    &:before {
        position: absolute;
        height: 100%;
        width: 100%;
        line-height: 1.6;
        font-size: 180%;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    &:active:before {
        color: #703b87;
    }
}

/* Button 5a */

.btn-5a:hover span {
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.btn-5a:before {
    left: 0;
    top: -100%;
}

.btn-5a:hover:before {
    top: 0;
}

.icon-arrow:before {
    font-family: "FontAwesome";
    content: "\f063";
}
