// Custom Styles Created by Connor Shocrylas


// Imports
@import url(https://fonts.googleapis.com/css?family=Slabo+13px);

@import url(https://fonts.googleapis.com/css?family=Comfortaa:400,300,700);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700);
@import "foundation";
@import "_globals.scss";
@import "_navigation.scss";
@import "_splash-section.scss";
@import "_services-section.scss";
@import "_portfolio-section.scss";
@import "_icon-button.scss";
@import "_animate.scss";
@import "_animations.scss";


// Globals
// $primary-color: #6699CC;
// $secondary-color: #1C3664;
// $darkest-blue: #0F1041;
// $white: #fff;


// General CSS

body,
p,
div {
    font-family: 'Comfortaa', sans-serif;
    color: $secondary-color;
    font-size: 12pt;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
}

h1,
h2,
h4 {
    font-family: 'Slabo 13px', serif;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
}

h3.services-title {
    text-align: center;
    font-size: 24pt;
    font-family: 'Comfortaa', sans-serif;
}

h2.section-title {
    text-align: center;
    font-size: 36pt;
    font-family: 'Slabo 13px', serif;
}

h2 {
    color: $darkest-blue !important;
}

h3 {
    color: $secondary-color !important;
}


// Structure
.fullwidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100% !important;
}

.row {
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 67.5rem;
}


// Footer
footer {
    background: $darkest-blue;
}

h2.section-title.footer {
    color: $white !important;
}

.form-container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}

.footer-text {
    text-align: center;
    color: $white;
    font-family: 'Comfortaa', sans-serif;
}

.bottom-row {
    padding: 1em;
}

.site-copy {
    color: $white;
    margin-bottom: 0;
}

.lower-icon {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 1.5rem;
}

img.hops-icon {
    width: 50px;
    height: 50px;
}

// Form Input Fields
span.form-icon {
    border: none !important;
    background: $secondary-color !important;
    color: $white !important;
}

input[type="text"],
input[type="email"] {
    color: $secondary-color !important;
    font-weight: 600;
    background: $primary-color !important;
    border-top: none !important;
    border-right: none !important;
    border-bottom: 2px solid transparent !important;
    border-left: none !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    transition: all 0.3s !important;

    &:focus {
        background: $secondary-color !important;
        border-bottom: 2px solid $primary-color !important;
        color: $white !important;
    }

    &::-webkit-input-placeholder {
        color: $white;
    }
}


// Select Box Styles
select.contact-form-select {
    background: $primary-color;
    color: $white;
    border: none !important;
    font-weight: 600;
    overflow: hidden;
    border-radius: 2px;

    &:focus { 
        background: $darkest-blue !important;
        border: none;
        transition: all .5s;
    }

    &:active {
        background: $darkest-blue !important;
    }
}


// Error Message Styles
small.error {
    background: #CF2127 !important;
    border-top: 4px solid #a81a1f !important;
}


span.social-icons {
    font-size: 24pt;
    transition: all 3s !important;
    
    a { 
        color: $white !important;
        &:hover {
            color: $primary-color !important;
        }
    }
    i.footer-social { 
        padding: 1em;
    }
}